<h4>会員一覧</h4>
<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>

<table  class="table">
  <thead class="thead-light">
    <tr>
    <td><strong>会員ID</strong></td>
    <td><strong>氏名</strong></td>
    <td><strong>メールアドレス</strong></td>
    <td><strong>ステータス</strong></td>
    </tr>
  </thead>

  <tbody>
      <% @customer.each do |customer| %>
        <tr>
          <td><%=customer.id%></td>
          <td>
          <%= link_to admin_customer_path(customer.id) do %>
          <%= customer.fullname%>
          <% end %>
          </td>
          <td><%=customer.email%></td>
          <% if customer.is_deleted!=true %>
          <td>有効</td>
          <%else%>
          <td>退会</td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>
   <div class="col-lg-4"></div>
  </div>
</div>