<h4>ジャンル編集</h4>
<table>
  <tbody>
    <%= form_with model: @genre, url:admin_genre_path, local: true do |f|%>
    <tr>
      <td><strong><%=f.label :ジャンル名 %></strong><td>
      <td><%= f.text_field :name, autofocus: true %></td>
      <td><%= f.submit "変更を保存",class: "btn btn-success" %></td>
    <% end %>
    </tr>
  </tbody>
</table>