<h4>ジャンル編集</h4>
<%= form_with model: @genre, url:admin_genre_path, local: true do |f|%>
<div>
  <%=f.label :ジャンル名 %><br/>
  <%= f.text_field :name, autofocus: true %>
  <%= f.submit "変更を保存" %>
</div>
<% end %>