<%= form_with model: @order,local:true do |f|%>

<table>
  <tbody>
    <tr>
      <td>注文日</td>
      <td></td>
    </tr>
    <tr>
      <td>配送先</td>
      <td></td>
    </tr>
     <tr>
      <td>支払方法</td>
      <td></td>
    </tr>
     <tr>
      <td>ステータス</td>
      <td></td>
    </tr>
  </tbody>
</table>
